* {
    font-family: 'Inter', sans-serif;
  }
  
  .click,
  .click2 {
    border: none;
    margin-bottom: 3px;
    color: white;
    border-radius: 20px;
    border: 1px solid #011a33;
  }
  
  .click:hover {
    background-color: transparent;
    background-color: #003162;
  }
  
  .click2:hover {
    background-color: transparent;
    background-color: #011a33;
  }
  
  .click2 {
    background-color: transparent;
    background-color: #003162;
    color: white;
    border-radius: 20px;
    border: 1px solid #011a33;
    margin-top: 10px;
  }
  
  .p1,
  .p2 {
    color: white;
    padding-top: 17px;
    font-size: medium;
    margin-right: 20px;
  }
  
  .p1 {
    margin-left: auto;
  }
  
  .click,
  .click2,
  .text {
    color: white;
  }
  
  .text:hover {
    color: #ff7f00;
  }
  
  @media (max-width: 991px) {
    .click {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: left;
      width: 150px;
      padding-left: 5px;
    }
  
    .p1,
    .p2 {
      margin-left: 0px;
      margin-right: 0px;
      padding-top: 0px;
    }
  
    .par {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  
  .container {
    padding: 20px 0;
  }
  
  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .footer-menu li {
    display: inline-block;
    margin-left: 15px;
  }
  
  .footer-menu li:first-child {
    margin-left: 0;
  }
  
  .footer-menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .footer-menu a:hover {
    color: #b4b4b4;
  }
  
  footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  
  .social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #b5b4b4;
  }
  
  select#socialstatus {
    width: 467px;
    height: 37px;
    border-color: rgb(212, 212, 212);
    border-radius: 2%;
  }
  .container-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
  }
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 350;
  }